GiftTrack/Secrets.xcconfig
SwiftUI-GiftTrack-Info.plist
.DS_Store

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/AuthKey_*.p8
fastlane/.env.default
