GiftTrack/Secrets.xcconfig
SwiftUI-GiftTrack-Info.plist
.DS_Store

fastlane/AuthKey_*.p8
fastlane/builds
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/.env.default
*.cer
*.mobileprovision
